<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Menu.css" />
    <link rel="stylesheet" href="../Menu.css" />
    <title>Menu</title>
  </head>

  <body>
    <h1>데이터베이스 커피 고르기 메뉴</h1>
    <h2>현재 접속 유저 : <%=sessionLoginName %></h2>
    <span
      >현재 주문번호(만약 메인 페이지를 갔다가 왔다면 이전 주문번호임) :
      <%=orderNumber %></span
    >
    <p>주문 담을 때 0개를 담거나, 이미 담겨져 있다면 주문내역에 포함 불가</p>
    <form action="/moveMenu/orderOK" method="POST">
      <button class="optionCSS">주문하기</button>
    </form>
    <table class="menuTable">
      <thead>
        <tr>
          <th>항목번호</th>
          <th>메뉴이름</th>
          <th>메뉴가격</th>
          <th>메뉴분류</th>
          <th>수량선택</th>
          <th>구매여부</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < menuInfo.length; i++){ %>
        <form action="/moveMenu/order" method="post">
          <tr>
            <td>
              <%=menuInfo[i].항목번호%>
              <input
                type="hidden"
                name="menuNumber"
                value="<%=menuInfo[i].항목번호%>"
              />
            </td>
            <td>
              <%=menuInfo[i].이름%>
              <input
                type="hidden"
                name="menuName"
                value="<%=menuInfo[i].이름%>"
              />
            </td>
            <td>
              <%=menuInfo[i].가격%>
              <input
                type="hidden"
                name="menuPrice"
                value="<%=menuInfo[i].가격%>"
              />
            </td>
            <td>
              <%=menuInfo[i].분류%>
              <input
                type="hidden"
                name="menuClass"
                value="<%=menuInfo[i].분류%>"
              />
            </td>
            <td>
              <input type="number" name="menuCount" value="0" , min="0" />
            </td>
            <% if (orderSelect == true) { %>
            <td><button type="submit">담기</button></td>
            <% }else{ %>
            <td>주문불가</td>
            <% } %>
          </tr>
        </form>
        <% } %>
      </tbody>
    </table>
    <h1>현재 주문내역</h1>
    <table class="menuTable">
      <thead>
        <tr>
          <th>주문번호</th>
          <th>항목번호</th>
          <th>총금액</th>
          <th>총수량</th>
          <th>메뉴이름</th>
          <th>주문날짜</th>
          <th>주문고객</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < orderList.length; i++) { %>
        <tr>
          <td><%=orderList[i].주문_주문번호 %></td>
          <td><%=orderList[i].메뉴항목_항목번호 %></td>
          <td><%=orderList[i].총금액 %></td>
          <td><%=orderList[i].총수량 %></td>
          <td><%=orderList[i].이름 %></td>
          <td><%=orderList[i].주문날짜 %></td>
          <td><%=sessionLoginName %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
